In [1]:
import os
import pandas as pd
import numpy as np

In [3]:
print(os.getcwd())

C:\Users\xuyonghao\Class Financial econometrics

In [4]:
path="D:\\Python Basics\\Class Data\\"
print(path,type(path))

D:\Python Basics\Class Data\ <class 'str'>

In [5]:
os.chdir(path)

new_path=os.getcwd()
print(new_path)

D:\Python Basics\Class Data

In [11]:
file_name1="D:\\中南财经政法大学\\课程资料 class info\\金融计量\\参考数据\\董监高个人特征文件"+"\\TMT_FIGUREINFO.csv"

In [15]:
#help(pd.read_csv)
#help(to_csv)

Help on function read_csv in module pandas.io.parsers.readers:

read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', sep=<no_default>, delimiter=None, header='infer', names=<no_default>, index_col=None, usecols=None, squeeze=None, prefix=<no_default>, mangle_dupe_cols=True, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=None, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression: 'CompressionOptions' = 'infer', thousands=None, decimal: 'str' = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors: 'str | None' = 'strict', dialect=None, error_bad_lines=None, warn_bad_lines=None, on_bad_lines=None, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None, storage_options: 'StorageOptions' = None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, None, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, optional, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). If ``names`` are given, the document
        header row(s) are not taken into account. For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.

        .. deprecated:: 1.4.0
            Append ``.squeeze("columns")`` to the call to ``read_csv`` to squeeze
            the data.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...

        .. deprecated:: 1.4.0
           Use a list comprehension on the DataFrame's columns after calling ``read_csv``.
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python', 'pyarrow'}, optional
        Parser engine to use. The C and pyarrow engines are faster, while the python engine
        is currently more feature-complete. Multithreading is currently only supported by
        the pyarrow engine.

        .. versionadded:: 1.4.0

            The "pyarrow" engine was added as an *experimental* engine, and some features
            are unsupported, or may not work correctly, with this engine.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparsable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    compression : str or dict, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and '%s' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', or '.zst' (otherwise no compression). If using
        'zip', the ZIP file must contain only one data file to be read in. Set to
        ``None`` for no decompression. Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``} and other
        key-value pairs are forwarded to ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, or ``zstandard.ZstdDecompressor``, respectively. As an
        example, the following could be passed for Zstandard decompression using a
        custom compression dictionary:
        ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

        .. versionchanged:: 1.4.0 Zstandard support.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

        .. versionchanged:: 1.2

           When ``encoding`` is ``None``, ``errors="replace"`` is passed to
           ``open()``. Otherwise, ``errors="strict"`` is passed to ``open()``.
           This behavior was previously only the case for ``engine="python"``.

        .. versionchanged:: 1.3.0

           ``encoding_errors`` is a new argument. ``encoding`` has no longer an
           influence on how encoding errors are handled.

    encoding_errors : str, optional, default "strict"
        How encoding errors are treated. `List of possible values
        <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

        .. versionadded:: 1.3.0

    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, optional, default ``None``
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will be dropped from the DataFrame that is
        returned.

        .. deprecated:: 1.3.0
           The ``on_bad_lines`` parameter should be used instead to specify behavior upon
           encountering a bad line instead.
    warn_bad_lines : bool, optional, default ``None``
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.

        .. deprecated:: 1.3.0
           The ``on_bad_lines`` parameter should be used instead to specify behavior upon
           encountering a bad line instead.
    on_bad_lines : {'error', 'warn', 'skip'} or callable, default 'error'
        Specifies what to do upon encountering a bad line (a line with too many fields).
        Allowed values are :

            - 'error', raise an Exception when a bad line is encountered.
            - 'warn', raise a warning when a bad line is encountered and skip that line.
            - 'skip', skip bad lines without raising or warning when they are encountered.

        .. versionadded:: 1.3.0

            - callable, function with signature
              ``(bad_line: list[str]) -> list[str] | None`` that will process a single
              bad line. ``bad_line`` is a list of strings split by the ``sep``.
              If the function returns ``None``, the bad line will be ignored.
              If the function returns a new list of strings with more elements than
              expected, a ``ParserWarning`` will be emitted while dropping extra elements.
              Only supported when ``engine="python"``

        .. versionadded:: 1.4.0

    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.
    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point

In [16]:
dataframe_whole=pd.read_csv(file_name1) 
#print(dataframe_whole.columns)

C:\Users\xuyonghao\AppData\Local\Temp\ipykernel_29508\3705987585.py:1: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe_whole=pd.read_csv(file_name1)

In [6]:
print(dataframe_whole.dtypes)

Stkcd                int64
Reptdt              object
PersonID             int64
Name                object
Nationality         object
NativePlace         object
NatAreaCode         object
BirthPlace          object
BirAreaCode         object
Gender              object
Age                float64
University          object
Degree             float64
Major               object
Profession          object
PaidSign            object
TotalSalary        float64
Allowance          float64
SharEnd            float64
IsMTMT               int64
TMTP               float64
IsMTB                int64
CTB                float64
IsIdirecotr          int64
IsDuality            int64
Funback             object
OveseaBack          object
Academic            object
FinBack             object
IsCocurP             int64
OtherCo             object
OtherCoType        float64
Director_TotCO       int64
Director_ListCO      int64
Stkcd_director      object
IsSupervisor         int64
Position            object
ServicePosition     object
dtype: object

In [54]:
print(dataframe_whole.head())

   Stkcd      Reptdt  PersonID Name Nationality NativePlace NatAreaCode  \
0      1  1999-12-31   3091318  肖少联     中华人民共和国         NaN         NaN
1      1  1999-12-31    309388  王魁芝     中华人民共和国         NaN         NaN
2      1  1999-12-31  30147524   周林         NaN         NaN         NaN
3      1  1999-12-31   3018428  黄本辉         NaN         NaN         NaN
4      1  1999-12-31  30159856  李华青         NaN         NaN         NaN

  BirthPlace BirAreaCode Gender  ...  FinBack IsCocurP  OtherCo OtherCoType  \
0        NaN         NaN      男  ...      NaN        0      NaN         NaN
1        NaN         NaN      女  ...      NaN        0      NaN         NaN
2        NaN         NaN      男  ...      NaN        0      NaN         NaN
3        NaN         NaN      男  ...      NaN        0      NaN         NaN
4        NaN         NaN      男  ...      NaN        0      NaN         NaN

  Director_TotCO Director_ListCO  Stkcd_director  IsSupervisor  Position  \
0              0               0             NaN             1     监事会主席
1              0               0             NaN             1    监事会副主席
2              0               0             NaN             0   副董事长,行长
3              0               0             NaN             0       副书记
4              0               0             NaN             1        监事

   ServicePosition
0            监事会主席
1           监事会副主席
2          副董事长,行长
3              副书记
4               监事

[5 rows x 38 columns]

In [28]:
pd.set_option('display.max_rows',20) #设置显示最多20行

In [29]:
new_dataframe=dataframe_whole[['Stkcd', 'Reptdt', 'PersonID', 'Name', 'BirthPlace', 'BirAreaCode', 'Gender', 'Age',
        'Degree', 'Major', 'TotalSalary', 'Allowance', 'SharEnd', 'IsMTB', 'IsIdirecotr', 
        'IsDuality', 'Funback', 'OveseaBack', 'Academic']]

In [30]:
print(new_dataframe['IsMTB'].value_counts())
print(new_dataframe['IsIdirecotr'].value_counts())
print(new_dataframe['Academic'].value_counts())

0    521860
1    472826
Name: IsMTB, dtype: int64
0    837533
1    157153
Name: IsIdirecotr, dtype: int64
4        610709
1         49017
3         33153
1,3       21745
2         17849
1,2       11240
1,2,3      9732
2,3        4633
Name: Academic, dtype: int64

In [31]:
Condition=(new_dataframe.IsMTB ==0 )#这里加不加括号都行，加了括号方便理解月度
print(Condition,type(Condition))

0          True
1          True
2         False
3          True
4          True
          ...
994681     True
994682     True
994683     True
994684    False
994685    False
Name: IsMTB, Length: 994686, dtype: bool <class 'pandas.core.series.Series'>

In [34]:
index1 = new_dataframe[Condition].index.tolist()
print(type(index1))

<class 'list'>

C:\Users\xuyonghao\AppData\Local\Temp\ipykernel_29508\3678770490.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  index1 = new_dataframe[Condition].index.tolist()

In [33]:
new_dataframe=new_dataframe.drop(index1) #删除非高管
print(new_dataframe['Gender'].value_counts())

男    411301
女     61507
Name: Gender, dtype: int64

In [41]:
#生成新变量，依据女性生成female=1的虚拟变量
new_dataframe['Female'] = new_dataframe.apply(lambda x : 1 if x['Gender']=="女" else 0,axis=1) 
new_dataframe[['Female','Gender']]

        Female Gender
2            0      男
5            0      男
6            0      男
8            1      女
9            0      男
...        ...    ...
994674       0      男
994675       0      男
994676       0      男
994684       1      女
994685       0      男

[472826 rows x 2 columns]

In [13]:
#IsMTMT [是否高管团队成员] - 1=是，0=不是
#TMTP [高管职务类别] - 1=CEO（包含首席执行官、总经理）， 2=CFO， 3=CEO（包含首席执行官、总经理）和CFO兼任，4=其他。
#IsIdirecotr [是否独立董事] - 1=是，0=不是
Condition=(new_dataframe.IsIdirecotr ==0) #这里加不加括号都行，加了括号方便理解阅读
print(Condition)
index2 = new_dataframe[Condition].index.tolist()
new_dataframe=new_dataframe.drop(index2)
print(new_dataframe['Gender'].value_counts())

2          True
5          True
6          True
8          True
9          True
          ...
994674     True
994675     True
994676     True
994684    False
994685    False
Name: IsIdirecotr, Length: 472826, dtype: bool
男    131993
女     25159
Name: Gender, dtype: int64

In [42]:
#数据导出
#new_dataframe.to_csv("CEO_Data.csv", index=False,encoding="utf_8_sig") # 中文简体存储问题
n#ew_dataframe.to_csv("Director_Data.csv", index=False,encoding="utf_8_sig")

In [43]:
#描述性统计
summary_stats=new_dataframe[['Age','TotalSalary','Female','SharEnd' ]].describe()
summary_stats

                 Age   TotalSalary         Female       SharEnd
count  472522.000000  4.061050e+05  472826.000000  4.305320e+05
mean       50.076777  2.650324e+05       0.130084  6.819650e+06
std         8.748295  6.380159e+05       0.336396  9.077032e+08
min        19.000000  0.000000e+00       0.000000  0.000000e+00
25%        44.000000  2.000000e+04       0.000000  0.000000e+00
50%        50.000000  6.330000e+04       0.000000  0.000000e+00
75%        56.000000  3.000000e+05       0.000000  3.080000e+03
max       102.000000  4.770400e+07       1.000000  5.728125e+11

In [44]:
#通过转置让数据存储后的格式更符合规范
summary_stats = summary_stats.T ##转置方便看结果

summary_stats=summary_stats.reset_index()
summary_stats.to_csv("summary_stats.csv", index=False,encoding="utf_8_sig") # 中文简体存储问题

In [45]:
summary_stats

,index,count,mean,std,min,25%,50%,75%,max
0,Age,472522.0,5.007678e+01,8.748295e+00,19.0,44.0,50.0,56.0,1.020000e+02
1,TotalSalary,406105.0,2.650324e+05,6.380159e+05,0.0,20000.0,63300.0,300000.0,4.770400e+07
2,Female,472826.0,1.300838e-01,3.363960e-01,0.0,0.0,0.0,0.0,1.000000e+00
3,SharEnd,430532.0,6.819650e+06,9.077032e+08,0.0,0.0,0.0,3080.0,5.728125e+11

In [48]:
from scipy.stats.mstats import winsorize
#缩尾处理
for i in new_dataframe[['Age','TotalSalary','Female','SharEnd' ]]:
    new_dataframe[i]=np.where(new_dataframe[i].isnull(), np.nan, winsorize(np.ma.masked_invalid(new_dataframe[i]),limits=(0.01,0.01)))

In [23]:
summary_stats=new_dataframe[['Age','TotalSalary','Female','SharEnd', 'TMTP', 'IsDuality']].describe()
print(summary_stats)

                 Age   TotalSalary         Female       SharEnd  \
count  993389.000000  8.576820e+05  994686.000000  9.020770e+05
mean       48.306467  2.837511e+05       0.167553  1.484339e+06
std         8.577024  4.275656e+05       0.373469  7.674126e+06
min        30.000000  0.000000e+00       0.000000  0.000000e+00
25%        42.000000  2.860000e+04       0.000000  0.000000e+00
50%        48.000000  1.120000e+05       0.000000  0.000000e+00
75%        54.000000  3.754000e+05       0.000000  2.370000e+03
max        71.000000  2.538500e+06       1.000000  6.123000e+07

                TMTP      IsDuality
count  342667.000000  994686.000000
mean        3.268675       0.013554
std         1.176381       0.115630
min         1.000000       0.000000
25%         2.000000       0.000000
50%         4.000000       0.000000
75%         4.000000       0.000000
max         4.000000       1.000000

In [50]:
Test_df=new_dataframe[['Age','TotalSalary','Female','SharEnd']]

In [57]:
#生成相关系数
Correlation_stats = Test_df.corr(method='spearman')

In [52]:
print(Correlation_stats,type(Correlation_stats))

                  Age  TotalSalary    Female   SharEnd
Age          1.000000     0.006310 -0.068095 -0.006663
TotalSalary  0.006310     1.000000 -0.014836  0.430300
Female      -0.068095    -0.014836  1.000000 -0.009327
SharEnd     -0.006663     0.430300 -0.009327  1.000000 <class 'pandas.core.frame.DataFrame'>

In [53]:
Correlation_stats

                  Age  TotalSalary    Female   SharEnd
Age          1.000000     0.006310 -0.068095 -0.006663
TotalSalary  0.006310     1.000000 -0.014836  0.430300
Female      -0.068095    -0.014836  1.000000 -0.009327
SharEnd     -0.006663     0.430300 -0.009327  1.000000

In [30]:
from scipy.stats import pearsonr,spearmanr
def corr_sig(df=None):
    p_matrix = np.zeros(shape=(df.shape[1],df.shape[1]))
    for col in df.columns:
        for col2 in df.drop(col,axis=1).columns:
            _ , p = spearmanr(df[col],df[col2],nan_policy='omit')
            p_matrix[df.columns.to_list().index(col),df.columns.to_list().index(col2)] = p
    return p_matrix

In [31]:
p_values = corr_sig(Test_df)
p_values

array([[0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
        0.00000000e+000, 0.00000000e+000, 0.00000000e+000],
       [0.00000000e+000, 0.00000000e+000, 9.40037798e-059,
        0.00000000e+000, 0.00000000e+000, 0.00000000e+000],
       [0.00000000e+000, 9.40037798e-059, 0.00000000e+000,
        1.40548830e-006, 5.72281456e-057, 4.92358505e-221],
       [0.00000000e+000, 0.00000000e+000, 1.40548830e-006,
        0.00000000e+000, 0.00000000e+000, 0.00000000e+000],
       [0.00000000e+000, 0.00000000e+000, 5.72281456e-057,
        0.00000000e+000, 0.00000000e+000, 0.00000000e+000],
       [0.00000000e+000, 0.00000000e+000, 4.92358505e-221,
        0.00000000e+000, 0.00000000e+000, 0.00000000e+000]])

In [32]:
mask = np.invert(np.tril(p_values<0.05))
print(type(p_values),type(mask))
p_values=pd.DataFrame(p_values)
mask=pd.DataFrame(mask)

<class 'numpy.ndarray'> <class 'numpy.ndarray'>

In [33]:
print(p_values)
print(mask)
print(p_values<0.05)

     0             1              2         3             4              5
0  0.0  0.000000e+00   0.000000e+00  0.000000  0.000000e+00   0.000000e+00
1  0.0  0.000000e+00   9.400378e-59  0.000000  0.000000e+00   0.000000e+00
2  0.0  9.400378e-59   0.000000e+00  0.000001  5.722815e-57  4.923585e-221
3  0.0  0.000000e+00   1.405488e-06  0.000000  0.000000e+00   0.000000e+00
4  0.0  0.000000e+00   5.722815e-57  0.000000  0.000000e+00   0.000000e+00
5  0.0  0.000000e+00  4.923585e-221  0.000000  0.000000e+00   0.000000e+00
       0      1      2      3      4      5
0  False   True   True   True   True   True
1  False  False   True   True   True   True
2  False  False  False   True   True   True
3  False  False  False  False   True   True
4  False  False  False  False  False   True
5  False  False  False  False  False  False
      0     1     2     3     4     5
0  True  True  True  True  True  True
1  True  True  True  True  True  True
2  True  True  True  True  True  True
3  True  True  True  True  True  True
4  True  True  True  True  True  True
5  True  True  True  True  True  True

In [34]:
with pd.ExcelWriter('Correlation_stats_CEO.xlsx') as writer:
     Correlation_stats.to_excel(writer, sheet_name='Correlation_stats')
     p_values.to_excel(writer, sheet_name='P_value')
     mask.to_excel(writer, sheet_name='Sig_at_5%')